<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Choose</title>
</head>

<body>
    {{> header}}
    <h1>Choose the operation:</h1>
    <div>

        <form action="/{{flag}}ResC" method="get">
            <button type="submit">Create</button>
        </form>
        <form action="/{{flag}}ResRA" method="get">
            <button type="submit">Read All</button>
        </form>
        <form action="/{{flag}}ResRI" method="get">
            <button type="submit">Read ID</button>
        </form>
        <form action="/{{flag}}ResU" method="get">
            <button type="submit">Update</button>
        </form>
        <form action="/{{flag}}ResD" method="get">
            <button type="submit">Delete</button>
        </form>

    </div>
</body>

</html>