<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleR.css">
    <title>Department</title>
</head>

<body>
    {{> header}}
    <div class="wrapper">
        <div>
            <form method="post" action="/DepartmentResD/delete" class="line_form">
                <label for="id">Department ID:</label>
                <input type="number" class="id" name="id">
                <button type="submit">Delete</button>
            </form>
        </div>

        {{#if ok}}
        <div>
            <h1>Result</h1>
            <ul>
                <li>
                    <h2>{{result.Name}}</h2>
                    <p>ID Department: {{result.ID_Department}}</p>
                    <p>Description: {{result.Description}}</p>
                    <p>ID Faculty: {{result.ID_Faculty}}</p>
                </li>
            </ul>
        </div>
        {{/if}}
        {{#if err}}
        <div>
            <h1>Result</h1>
            <h1>{{text}}</h1>
        </div>
        {{/if}}

    </div>
</body>

</html>