<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleR.css">
    <title>Teacher</title>
</head>

<body>
    {{> header}}
    <div class="wrapper">
        <div>
            <h1>List of Teachers</h1>
            <ul>
                {{#each teachers}}
                <li>
                    <h2>ID Teacher: {{this.ID_Teacher}}</h2>
                    <p>Name: {{this.Name}}</p>
                    <p>Surname: {{this.Surname}}</p>
                    <p>Phone: {{this.Phone}}</p>
                    <p>Department: {{this.ID_Department}}</p>
                    <img src="data:image/png;base64,{{this.Image}}" alt="Teacher image" height="100px" width="75px">
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>

</html>